@font-face {
    font-family: 'PressStart2P-Regular';
    src: url(../fonts/PressStart2P-Regular.woff) format('woff');
    font-weight: normal;
    display: wrap;
}

@font-face {
    font-family: 'Intel-Variable';
    src: local('Intel-Variable'),
        url(../fonts/Inter-Variable.woff2) format('woff2 supports variation'),
        url(../fonts/Inter-Variable.woff2) format('woff2-variations');
    font-weight: 400 785;
    display: wrap;
}