:root {
  --font-intel: 'Intel-Variable';
  --font-PressStart: 'PressStart2P';
  --wght: 410;
  --bg-gradient: repeating-linear-gradient(0deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
  linear-gradient(#e7e7e7, #1a1a1a);
  --block-size: clamp(320px, 100vw, 700px);
  --bg-section-color: #fff;
  --color-white: #fff;
  --bg-border: 2px solid #000;
  --animation-fill-color: transparent;
  --main-body-color: transparent;
  --black-color: #000;
  --contour-color: transparent;
}
